.Ball {
    height: 300px;
    width: auto;
}

.ball-card {
    width: 310px;
    height: fit-content;
    display: inline-block;
    align-items: center;
    vertical-align: top;
    margin: 10px;
}

.description {
    font-size: medium;
    background-color: darkslategrey;
    width: fit-content;
    display: inline-block;
}