.App {
  text-align: center;
}

.WorldCup {
  height: 100px;
  width: auto;
  background: transparent;
}

header {
  height: 100px;
  background-color: white;
  color: black;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  padding-left: 18px;
  padding-right: 18px;
}

p {
  font-size: x-large;
  padding-bottom: 10px;
}